repos/app/resources/problem.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://topcoder.com"
    xmlns="http://topcoder.com"
    elementFormDefault="qualified">

<xs:simpleType name="tctype">
    <xs:restriction base="xs:string">
        <xs:enumeration value="boolean"/>
        <xs:enumeration value="char"/>
        <xs:enumeration value="byte"/>
        <xs:enumeration value="short"/>
        <xs:enumeration value="int"/>
        <xs:enumeration value="int[]"/>
        <xs:enumeration value="long"/>
        <xs:enumeration value="long[]"/>
        <xs:enumeration value="float"/>
        <xs:enumeration value="double"/>
        <xs:enumeration value="double[]"/>
        <xs:enumeration value="String"/>
        <xs:enumeration value="String[]"/>
        <xs:enumeration value="String[][]"/>
		<xs:enumeration value="int[][]"/>
        <xs:enumeration value="long[][]"/>
    </xs:restriction>
</xs:simpleType>

<xs:group name="list">
    <xs:choice>
        <xs:element ref="ul"/>
        <xs:element ref="ol"/>
    </xs:choice>
</xs:group>

<xs:complexType name="list">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:element ref="li"/>
    </xs:choice>
</xs:complexType>

<xs:group name="fontstyle">
    <xs:choice>
        <xs:element ref="tt"/>
        <xs:element ref="i"/>
        <xs:element ref="b"/>
    </xs:choice>
</xs:group>

<xs:group name="heading">
    <xs:choice>
        <xs:element ref="center"/>
        <xs:element ref="h1"/>
        <xs:element ref="h2"/>
        <xs:element ref="h3"/>
        <xs:element ref="h4"/>
        <xs:element ref="h5"/>
    </xs:choice>
</xs:group>

<xs:group name="special">
    <xs:choice>
        <xs:element ref="a"/>
        <xs:element ref="font"/>
        <xs:element ref="img"/>
        <xs:element ref="br"/>
        <xs:element ref="sub"/>
        <xs:element ref="sup"/>
    </xs:choice>
</xs:group>

<xs:group name="inline">
    <xs:choice>
        <xs:element ref="type"/>
        <xs:group ref="fontstyle"/>
        <xs:group ref="heading"/>
        <xs:group ref="special"/>
    </xs:choice>
</xs:group>

<xs:group name="block">
    <xs:choice>
        <xs:element ref="p"/>
        <xs:element ref="pre"/>
        <xs:element ref="hr"/>
        <xs:group ref="list"/>
    </xs:choice>
</xs:group>

<xs:complexType name="block" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="block"/>
    </xs:choice>
</xs:complexType>

<xs:complexType name="flow" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="inline"/>
        <xs:group ref="block"/>
    </xs:choice>
	<xs:attribute name="escaped" type="xs:boolean" use="optional"/>
</xs:complexType>

<xs:complexType name="inline" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="inline"/>
    </xs:choice>
</xs:complexType>

<xs:element name="tt" type="inline"/>
<xs:element name="i" type="inline"/>
<xs:element name="b" type="inline"/>
<xs:element name="center" type="inline"/>
<xs:element name="h1" type="inline"/>
<xs:element name="h2" type="inline"/>
<xs:element name="h3" type="inline"/>
<xs:element name="h4" type="inline"/>
<xs:element name="h5" type="inline"/>
<xs:element name="sub" type="inline"/>
<xs:element name="sup" type="inline"/>

<xs:element name="a">
    <xs:complexType  mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="inline"/>
        </xs:choice>
        <xs:attribute name="name" type="xs:anyURI"/>
        <xs:attribute name="href" type="xs:anyURI"/>
    </xs:complexType>
</xs:element>

<xs:element name="font">
    <xs:complexType>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="color" type="xs:string"/>
        <xs:attribute name="size" type="xs:string"/>
    </xs:complexType>
</xs:element>

<xs:element name="img">
    <xs:complexType>
        <xs:attribute name="src" type="xs:anyURI"/>
        <xs:attribute name="width" type="xs:positiveInteger"/>
        <xs:attribute name="height" type="xs:positiveInteger"/>
    </xs:complexType>
</xs:element>

<xs:element name="p">
    <xs:complexType mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="inline"/>
            <xs:group ref="list"/>
        </xs:choice>
    </xs:complexType>
</xs:element>

<xs:element name="hr">
    <xs:complexType/>
</xs:element>

<xs:element name="br">
    <xs:complexType/>
</xs:element>

<xs:element name="pre" type="inline"/>
<xs:element name="ul" type="list"/>
<xs:element name="ol" type="list"/>
<xs:element name="li" type="flow"/>

<xs:element name="type" type="tctype"/>

<xs:element name="problem">
    <xs:complexType>
        <xs:all>
            <xs:element ref="signature"/>
            <xs:element ref="intro"/>
            <xs:element ref="spec" minOccurs="0"/>
            <xs:element ref="notes" minOccurs="0"/>
            <xs:element ref="constraints"/>
            <xs:element ref="test-cases"/>
            <xs:element ref="memlimit" minOccurs="0"/>
            <xs:element ref="stacklimit" minOccurs="0"/>
            <xs:element ref="roundType" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" type="xs:token"/>
        <xs:attribute name="code_length_limit" type="xs:positiveInteger"/>
        <xs:attribute name="execution_time_limit" type="xs:positiveInteger"/>
        <xs:attribute name="compile_time_limit" type="xs:positiveInteger"/>
        <xs:attribute name="gcc_build_command" type="xs:token"/>
        <xs:attribute name="cpp_approved_path" type="xs:token"/>
        <xs:attribute name="python_command" type="xs:token"/>
        <xs:attribute name="python_approved_path" type="xs:token"/>
    </xs:complexType>
</xs:element>

<xs:element name="signature">
    <xs:complexType>
        <xs:sequence>
        <xs:element name="class" type="xs:token"/>
        <xs:element name="method" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:token"/>
                <xs:element name="return">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="type"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="params">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="tctype"/>
                                        <xs:element name="name" type="xs:token"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        <xs:element name="exposed_class" type="xs:token" minOccurs="0" maxOccurs="1"/>
        <xs:element name="exposed_method" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:token"/>
                <xs:element name="return">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="type"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="params">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="tctype"/>
                                        <xs:element name="name" type="xs:token"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            </xs:complexType>
        </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="intro" type="flow"/>
<xs:element name="spec" type="flow"/>

<xs:element name="notes">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="note" type="flow" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="constraints">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="user-constraint" type="flow" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<xs:element name="test-cases">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="test-case" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="input" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                        <xs:element name="output" type="xs:string"/>
                        <xs:element name="annotation" type="flow" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:int"/>
                    <xs:attribute name="example" type="xs:boolean"/>
                    <xs:attribute name="systemTest" type="xs:boolean"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
<xs:element name="table">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="tr" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="td" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="border" type="xs:int"/>
    </xs:complexType>
</xs:element>

<xs:element name="memlimit" type="flow"/>
<xs:element name="stacklimit" type="flow"/>
<xs:element name="roundType" type="flow"/>
</xs:schema>
