docker/repos/app/resources/dwload.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT load-definition (global, load*)>
<!ELEMENT global (parameter-list?)>
<!ELEMENT parameter-list (parameter*)>
<!ELEMENT parameter EMPTY>
<!ATTLIST parameter
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT load (request, parameter-list*)>
<!ATTLIST load
	name CDATA #REQUIRED
>
<!ELEMENT request EMPTY>
<!ATTLIST request
	id CDATA #REQUIRED
>
